.WeatherView {
  opacity: 1;
  position: relative;
  transition: opacity 300ms ease-in-out;
}

.WeatherView__image {
  max-width: 100%;
}

.WeatherView__content {
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
  left: 0;
  padding: var(--m-size);
  position: absolute;
  top: 0;
  width: 100%;
}

.WeatherView__info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.WeatherView__temperature {
  color: var(--primary-color);
  display: inline-block;
  font-size: 4rem;
  font-weight: bold;
}

.WeatherView__icon {
  display: inline-block;
  height: auto;
  width: 11rem;
}

.WeatherView__summary {
  font-size: 3rem;
  font-style: italic;
}

.WeatherView__summary span {
  color: var(--primary-color);
}

@media (min-width: 600px) {
  .WeatherView__content {
    padding: var(--l-size);
  }
  .WeatherView__temperature {
    font-size: 5rem;
  }
  .WeatherView__icon {
    width: 14rem;
  }
  .WeatherView__summary {
    font-size: 3.5rem;
  }
}

@media (min-width: 800px) {
  .WeatherView__content {
    padding: var(--xxl-size);
  }
  .WeatherView__temperature {
    font-size: 6rem;
  }
  .WeatherView__icon {
    width: 18rem;
  }
  .WeatherView__summary {
    font-size: 4rem;
    width: 50%;
  }
}
