@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

:root {
  --dark-grey: #363737;
  --light-grey: #c9cfd8;
  --primary-color: #274472;
  --secondary-color: #c3e0e5;
  /* font */
  --font-normal: 1.6rem;
  --font-medium: 2.5rem;
  /* sizes */
  --s-size: 1.2rem;
  --m-size: 1.6rem;
  --l-size: 2.4rem;
  --xl-size: 3.2rem;
  --xxl-size: 4.8rem;
  /* media */
  --tablet-breakpoint: 600px;
  --desktop-breakpoint: 800px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f3f3f3;
  color: var(--dark-grey);
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  font-size: var(--font-normal);
  line-height: 1.6;
}

button {
  cursor: pointer;
}

.text-align--center {
  text-align: center;
}

/* padding */
.pt--xl {
  padding-top: var(--xl-size);
}
.pb--xl {
  padding-bottom: var(--xl-size);
}

button:disabled {
  cursor: default;
}

.content-container {
  margin: 0 auto;
  padding: 0 var(--s-size);
}

@media (min-width: 600px) {
  .content-container {
    padding: 0 var(--m-size);
    max-width: 80rem;
  }
}

@media (min-width: 800px) {
  .content-container {
    padding: 0 var(--l-size);
    max-width: 90rem;
  }
}
